In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
# Newly Registered business data
df = pd.read_csv("/Users/nigel/SFPropertyTax/Registered_Business_Locations_-_San_Francisco.csv")

# Concats all years in tax data directory to calculate neighborhood appreciation
sf_tax_path = "/Users/nigel/SFPropertyTax/data/"
tax_df = pd.concat([pd.read_csv(sf_tax_path + df) for df in os.listdir(sf_tax_path)], sort=True)
tax_df["RP1LNDVAL"] = tax_df["RP1LNDVAL"].astype(float)

# Only select taxed values > $0
tax_df = tax_df[tax_df["RP1LNDVAL"] > 0][['RP1LNDVAL', 'MAZIPCODE', "ROLLYEAR"]]

# Convert decimal year to string
tax_df['ROLLYEAR'] = (2000 + tax_df['ROLLYEAR']).astype(str).str[:-2].astype(float)



# median_pricing = median_pricing[median_pricing.index.get_level_values(1) != "2007"]

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (9,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [3]:
# Group by zip code and year to get median price
median_pricing = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).median()
median_pricing = median_pricing.reset_index()

# Calculate percent in appreciation/depreciation 
median_pricing["pct_change"] = np.where((median_pricing['MAZIPCODE'] == median_pricing['MAZIPCODE'].shift(1)) &
                                        (median_pricing['ROLLYEAR'] == median_pricing['ROLLYEAR'].shift(1) + 1)
                                        ,median_pricing['RP1LNDVAL'] / median_pricing['RP1LNDVAL'].shift(1) - 1, np.nan)


land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
median_pricing = median_pricing.merge(land_value_counts, on=["MAZIPCODE", "ROLLYEAR"])
median_pricing = median_pricing.rename(columns={"RP1LNDVAL_x": "RP1LNDVAL", "RP1LNDVAL_y":"land_value_counts"})
median_pricing['previous year land value count'] = np.where((median_pricing['ROLLYEAR'] == median_pricing['ROLLYEAR'].shift(1) + 1) &
                                                            (median_pricing["MAZIPCODE"] == median_pricing['MAZIPCODE'].shift(1)),
                                                            median_pricing['land_value_counts'].shift(1), np.nan)


# Eliminated median prices with insufficient number of tax value samples. Couldn't get a good median value with insufficient samples
median_pricing = median_pricing[(median_pricing['land_value_counts'] > 200) & (median_pricing['previous year land value count'] > 200)]
median_pricing.sort_values("pct_change").head()

,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,previous year land value count
22178,94104,2014.0,121132.0,-0.508594,1000,868.0
22177,94104,2013.0,246501.0,-0.476113,868,638.0
13682,80129,2014.0,26063.0,-0.411285,535,231.0
10469,60062,2009.0,1800.0,-0.408478,1180,1126.0
10758,60606,2013.0,17995.0,-0.303114,312,543.0

In [5]:
df['Business Start Date'] = pd.to_datetime(df['Business Start Date'])
sf_business = df[(df['City'] == "San Francisco") & (df['Business Start Date'] > '2007-01-01')]

new_businesses_count = sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year])['Transient Occupancy Tax'].count()
new_businesses_count.head()

Mail Zipcode  Business Start Date
-             2016                   1
01026         2019                   1
01095         2018                   1
01474         2007                   1
01535         2017                   1
Name: Transient Occupancy Tax, dtype: int64

In [6]:
new_median_pricing = median_pricing.reset_index()
reset_businesses_count = pd.DataFrame({'new business count': sf_business.groupby([sf_business['Mail Zipcode'], sf_business['Business Start Date'].dt.year]).size()}).reset_index()
reset_businesses_count.head()
new_median_pricing['ROLLYEAR'] = new_median_pricing['ROLLYEAR'].astype(int)
reset_businesses_count['Business Start Date'] = reset_businesses_count['Business Start Date'].astype(int)

In [7]:
merged_df = pd.merge(new_median_pricing, reset_businesses_count, how='left', left_on=['ROLLYEAR','MAZIPCODE'], right_on=['Business Start Date','Mail Zipcode'])
merged_df.head()

,index,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,previous year land value count,Mail Zipcode,Business Start Date,new business count
0,5215,22314,2008,41505.0,0.019979,244,243.0,NaN,NaN,NaN
1,5216,22314,2009,44137.0,0.063414,247,244.0,NaN,NaN,NaN
2,10468,60062,2008,3043.0,0.019772,1126,1092.0,NaN,NaN,NaN
3,10469,60062,2009,1800.0,-0.408478,1180,1126.0,NaN,NaN,NaN
4,10470,60062,2010,1800.0,0.000000,1207,1180.0,NaN,NaN,NaN

In [8]:
final_df = merged_df[['ROLLYEAR', "Mail Zipcode", "new business count", "pct_change", "RP1LNDVAL"]].dropna()

In [9]:
final_df = final_df.rename(columns={"RP1LNDVAL":"median land value price"}).sort_values("new business count", ascending=False)
final_df.head()

,ROLLYEAR,Mail Zipcode,new business count,pct_change,median land value price
152,2014,94110,418.0,0.062268,242810.0
151,2013,94110,399.0,0.092849,228577.0
109,2013,94103,396.0,0.068476,302853.0
150,2012,94110,369.0,0.104932,209157.0
130,2013,94107,361.0,0.118523,313200.0

In [10]:
by_pct_change = final_df.groupby(final_df["pct_change"].apply(lambda x: round(x, 1)))['new business count'].describe().sort_index(ascending=False)
by_pct_change[by_pct_change['count'] > 30]

            count       mean        std  min   25%   50%     75%    max
pct_change
0.1         154.0  89.584416  98.627887  1.0  8.00  61.5  158.25  418.0
0.0         126.0  91.912698  91.984783  1.0  9.25  84.5  138.50  328.0

In [11]:
median_pricing

,MAZIPCODE,ROLLYEAR,RP1LNDVAL,pct_change,land_value_counts,previous year land value count
5215,22314,2008.0,41505.0,0.019979,244,243.0
5216,22314,2009.0,44137.0,0.063414,247,244.0
10468,60062,2008.0,3043.0,0.019772,1126,1092.0
10469,60062,2009.0,1800.0,-0.408478,1180,1126.0
10470,60062,2010.0,1800.0,0.000000,1207,1180.0
10471,60062,2011.0,1750.0,-0.027778,1352,1207.0
10472,60062,2012.0,1500.0,-0.142857,1357,1352.0
10473,60062,2013.0,1400.0,-0.066667,1261,1357.0
10474,60062,2014.0,1400.0,0.000000,1265,1261.0
10754,60606,2009.0,17210.0,0.019973,310,310.0
10755,60606,2010.0,17169.0,-0.002382,316,310.0
10756,60606,2011.0,24940.0,0.452618,541,316.0
10757,60606,2012.0,25822.0,0.035365,543,541.0
10758,60606,2013.0,17995.0,-0.303114,312,543.0
13682,80129,2014.0,26063.0,-0.411285,535,231.0
15170,85261,2012.0,1120102.0,-0.170370,306,232.0
21655,94002,2008.0,105674.0,0.094455,239,229.0
21656,94002,2009.0,100939.0,-0.044808,234,239.0
21657,94002,2010.0,107429.0,0.064296,235,234.0
21658,94002,2011.0,101456.5,-0.055595,290,235.0
21659,94002,2012.0,110453.0,0.088673,304,290.0
21660,94002,2013.0,138019.0,0.249572,329,304.0
21661,94002,2014.0,144246.0,0.045117,327,329.0
21715,94010,2008.0,150284.5,0.057489,1386,1336.0
21716,94010,2009.0,159571.5,0.061796,1440,1386.0
21717,94010,2010.0,171025.0,0.071777,1447,1440.0
21718,94010,2011.0,186544.0,0.090741,1393,1447.0
21719,94010,2012.0,190678.5,0.022164,1438,1393.0
21720,94010,2013.0,210226.0,0.102515,1427,1438.0
21721,94010,2014.0,227423.0,0.081802,1453,1427.0
...,...,...,...,...,...,...
24031,94904,2013.0,165322.0,0.134304,273,266.0
24032,94904,2014.0,205528.0,0.243198,279,273.0
24102,94920,2008.0,175435.0,0.156963,298,272.0
24103,94920,2009.0,180947.0,0.031419,292,298.0
24104,94920,2010.0,193873.0,0.071435,282,292.0
24105,94920,2011.0,186329.0,-0.038912,275,282.0
24106,94920,2012.0,205009.0,0.100253,282,275.0
24107,94920,2013.0,241800.0,0.179460,309,282.0
24108,94920,2014.0,288331.5,0.192438,304,309.0
24215,94939,2012.0,161230.0,1.023951,209,209.0
24216,94939,2013.0,164454.0,0.019996,217,209.0
24217,94939,2014.0,165140.0,0.004171,204,217.0
24227,94941,2008.0,157729.0,0.081113,451,436.0
24228,94941,2009.0,173476.0,0.099836,465,451.0
24229,94941,2010.0,182951.0,0.054619,461,465.0
24230,94941,2011.0,196656.0,0.074911,479,461.0
24231,94941,2012.0,201909.0,0.026712,486,479.0
24232,94941,2013.0,213588.0,0.057843,495,486.0
24233,94941,2014.0,234780.5,0.099221,496,495.0
24568,95014,2014.0,305768.0,0.030563,246,232.0
24863,95070,2012.0,188288.0,0.504318,214,202.0
24864,95070,2013.0,245331.0,0.302956,241,214.0
24865,95070,2014.0,275434.5,0.122706,254,241.0
26374,95476,2008.0,77345.0,0.287378,206,210.0
26375,95476,2009.0,75279.0,-0.026711,210,206.0
26376,95476,2010.0,80526.0,0.069701,215,210.0
26377,95476,2011.0,88523.0,0.099310,211,215.0
26378,95476,2012.0,114287.0,0.291043,214,211.0
26379,95476,2013.0,95290.5,-0.166218,206,214.0
26380,95476,2014.0,98354.0,0.032149,212,206.0

In [12]:
m

NameError: name 'm' is not defined

In [ ]:
land_value_counts = tax_df.groupby(["MAZIPCODE", "ROLLYEAR"]).count().reset_index()
land_value_counts.head()

In [ ]:
median_pricing[median_pricing['land_value_counts'] > 20]